body {
    font-family: 'Poppins', sans-serif;
    background: url('assets/rio.jpg') no-repeat center center fixed;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00FF7F;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #e0ffe0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: linear-gradient(to right, #004d00, #228B22);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.activity-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    transition: transform 0.3s, background 0.3s;
}

    .activity-item:hover {
        transform: scale(1.05);
        background: rgba(255, 255, 255, 0.2);
    }

.activity-left {
    display: flex;
    align-items: center;
}

.activity-checkbox {
    display: none;
}

.activity-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.activity-button {
    background-color: #FFFF00;
    color: #004d00;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .activity-button:hover {
        background-color: #e6e600;
    }

.payer-button {
    background-color: #FFFF00;
    color: #004d00;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .payer-button:hover {
        background-color: #e6e600;
    }

.total {
    font-size: 1.8em;
    font-weight: bold;
    color: #FFFF00;
    margin-top: 20px;
}
